<div class="container-fluid">
  <div class="row">
    <div class="col-md-9">
      <div class="mb-3">
        <!-- Sort controls -->
        <select class="form-select" (change)="onSortChange($event)">
          <option value="">Select sort option</option>
          <option value="price">Price</option>
          <option value="category">Category</option>
        </select>
      </div>
      <div class="row row-cols-1 row-cols-md-3 g-4">
        <div *ngFor="let product of sortedProducts" class="col">
          <div class="card h-100" (click)="selectProduct(product)">
            <img
              [src]="product.image"
              class="card-img-top"
              alt="{{ product.name }}"
            />
            <div class="card-body">
              <h5 class="card-title">{{ product.name }}</h5>
              <p class="card-text">Price: {{ product.price }}$</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3 bg-light border-right">
      <h3 class="my-3">Selected Products</h3>
      <ul class="list-group">
        <li
          class="list-group-item"
          *ngFor="let selectedProduct of selectedProducts"
        >
          {{ selectedProduct.name }} - ${{ selectedProduct.price }}
          <input
            type="number"
            [(ngModel)]="selectedProduct.selectedQuantity"
            [min]="selectedProduct.minimumOrderQuantity"
            [max]="selectedProduct.quantityInStock"
            class="form-control form-control-sm mx-2"
            (change)="calculateTotal()"
          />
          <button
            class="btn btn-sm btn-danger"
            (click)="removeProduct(selectedProduct.id)"
          >
            Remove
          </button>
        </li>
      </ul>
      <div class="total-price mt-3">
        <h4>Total: ${{ totalPrice }}</h4>
      </div>
      <div class="order-status mt-3">
        <h4 [style]="orderStatusColor">Status: {{ orderStatus }}</h4>
      </div>
    </div>
  </div>
</div>
